/* LandingPage.css */

.landing-page {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.cover-image {
  background-image: url("assets/cat-girl-hug.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  filter: brightness(0.7);
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.overlay h1 {
  font-size: 5em;
  margin-bottom: 10px;
}

.overlay p {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}
