.reason {
  margin-left: 50px;
  margin-right: 50px;
}
.reasontitle {
  padding-top: 30px;
  font-size: 2em;
  font-weight: bold;
  margin: 20px 50px;
}
.reasonheading {
  font-size: 1.2em;
  font-weight: bold;
}
.reasonbody {
}

hr {
  color: #a1608c;
}
